<link rel="stylesheet" type="text/css" href="/css/simditor.css" />
<%= form_for(@doc) do |f| %>
  <% if @doc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doc.errors.count, "error") %> prohibited this doc from being saved:</h2>

      <ul>
      <% @doc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <textarea name="doc[body]" id="editor" placeholder="Balabala" autofocus>
      <%= @doc.body %>
    </textarea>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script type="text/javascript" src="/js/module.min.js"></script>
<script type="text/javascript" src="/js/hotkeys.min.js"></script>
<script type="text/javascript" src="/js/uploader.min.js"></script>
<script type="text/javascript" src="/js/simditor.min.js"></script>

<script type="text/javascript">
var editor = new Simditor({
  textarea: $('#editor')
  //optional options
});

</script>
