<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>其实我是个演员</title>
    <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">

  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" style="opacity: .9" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "其实我是个演员", root_path, :class => "navbar-brand" %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <%if flash[:login_name]%>
              <li><%= link_to "Admin", admin_url  %></li>
          <%end%>
            <li class="active"><a class="nei" href="#blog">Blog</a></li>
            <li><a class="nei" href="#about">About</a></li>
            <li><a href="https://github.com/booths">GitHub</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="row" style="padding-top: 70px">
      <div class="container center-block">
        <div class="col-md-2"></div>
        <div class="col-md-8 col-sm-12">
          <div class="tab-content ">

            <div role="tabpanel" class="tab-pane active" id="blog">
              <%= yield %>
            </div>
            <div role="tabpanel" class="tab-pane " id="about">
              <h3>About Me</h3>
              <hr/>
              <p>李云伟</p>

            </div>
          </div>

        </div>

        <div class="col-md-2">
        </div>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script>
$('#bs-example-navbar-collapse-1 a.nei').click(function (e) {
  e.preventDefault();
    $(this).tab('show');
});
    </script>
  </body>
</html>
